*{
    margin : 0;
    font-family: "Ubuntu", sans-serif;
}

.ubuntu-bold{
    font-weight: 700;
}

.ubuntu-light{
    font-weight: 300;
}



header{
    width:100%;
    border : 1px solid ;
    
}

header .b_top_header{
    background-color:  #34B1DA;
    padding:10px;
    color:white;
    font-size: 25px;
    height: 29px;

}
    

.left_top_header {
    width: 40%;
}

.right_top_header{
    flex:1;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;  

}

.right_top_header small{
    margin-top: 5px;
}

.btn-shop{
    background-color: white;
    color:black;
    font-size: 10px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding:7px 17px;
}

