*{
    margin:0;
   
}

header{
    width:100%;
    border:1px solid green;
}

header .r_top_header{
    background-color: #34B1DA;
}

.r_middle_part_header{
    background-color: #F2F2F2;
    
}

.r_middle_part_header .r_middle_inner_part{
    padding:30px 0px ;   
   
}
.r_search{
    width:50%;
    height:fit-content;
    
}

.r_search input{
    flex:1;
    outline: none;
    padding:10px;
    background:none;
    border:none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow:0px 0.5px 1px 2px #80808011;
}

