.container{
    width:80%;
    margin:auto;

}

.d-flex{
    display: flex;
}

.items-center{
    align-items:center;

}

.justify-end{
    justify-content: end;
}

.justify-between{
    justify-content: space-between;
}

.gap-10{
    gap: 10px;
}

.text-end{
    text-align: end;
}

.r_search{
    width:50%;
    
}

.r_search input{
    flex:1;
    outline: none;
    padding:5px;
}